.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.templates{
     text-align: center;
 }

.templates img{
    width: 70%;
}

.templates a{
    width: 50%;
    text-align: center;
    margin: auto;
}

.templates .col-md-4{

    margin-bottom: 20px;
}

.img-full{

    width: 100%;
}